{:name "Solidity"
 :version "0.0.2"
 :author "Jason Graves (godlikemouse/collaboradev)"
 :source "https://github.com/godlikemouse/solidity-lt"
 :desc "Solidity language plugin for LightTable"
 :behaviors "solidity.behaviors"}
